{% extends "base.html.twig" %}

{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block content %}
<h1>{{ title }}</h1>

    <p>
        De magnifique article vous attends !
    </p>

{% endblock %}
